<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- es soll Layout DefaultLyout (einzeilige Viewhelper) verwedent werden und den section Main(diese Viewhelper umfasst eine bestimmt Bereich)  -->
<f:layout name="DefaultLayout"/>
<f:section name="Main">
    <div class="main-container">
        <div class="main wrapper clearfix">
            <article>
            <f:format.raw>{contentMain}</f:format.raw>
            </article>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
</f:section>
</html>