<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <f:cObject typoscriptObjectPath="lib.homelink"/>


    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <f:cObject typoscriptObjectPath="lib.mainnav"/>
        <f:cObject typoscriptObjectPath="lib.language"/>
    </div>
        <f:cObject typoscriptObjectPath="lib.breadcrumb"/>




</div>
</br>
</br>
</br>
</br>
</br>
</br>




